# Ignore everything
*

# But not these files...
!/.gitignore

# GO
!*.go
!go.sum
!go.mod
!*.csv
!.gitkeep
# LINT
!.golangci.toml
!.golic.yaml
!.licignore
!*.txt

# BUILD
!/.github/workflows/*.yaml

!README.md
!LICENSE
!Makefile

# ...even if they are in subdirectories
!*/